################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/.vs/PostgresSingleton
src/.vs/SoftExpertAPI/v17/.suo
src/SoftExpertAPI/obj/*
src/SoftExpertAPI/bin/*
src/.vs/*
/src/Tests/bin/Release/net6.0
/src/Tests/obj
/src/Testes
*appsettings.json
src/Tests/bin/*
README.md
src/Examples/bin/*
src/Examples/obj/*