################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/.vs/PostgresSingleton
src/.vs/*
src/obj/*
src/bin/*
Tests/bin/*
Tests/obj
*appsettings.json
README.md
Examples/bin/*
Examples/obj/*
.vscode/settings.json
Tests/bin/*
